<div class="accident-wrapper">
  <div class="accident-details">
      <h2>{{accident.MDA}}</h2>
    <ul>
      <li *ngFor="let injurie of accident.injuries" [className]="'list-item ' + injurie.severity">
          <i class="fa fa-eye"></i>
          <h4>{{injurie.location}}</h4>
          <p>{{injurie.description}}</p>
      </li>
    </ul>
  </div>
    <agm-map [latitude]="accident.gps.latitude" [longitude]="accident.gps.longitude">
      <agm-marker [latitude]="accident.gps.latitude" [longitude]="accident.gps.longitude"></agm-marker>
      <agm-direction 
          [origin]="{lat : 32.078650 , lng : 34.768760}" 
          [destination]="{lat: accident.gps.latitude , lng : accident.gps.longitude}">
        </agm-direction>
    </agm-map>
</div>
