.container{
    display: grid;
    grid-template-areas: 
                "header header"
                "side-nav main"
                "footer footer";
    grid-template-columns: auto 1fr ;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-gap:10px;
}

.darkend{
    opacity: 0.8;
}

.show{
    width:15rem;
    opacity:0.9;
}
hide{
    width:0rem;
    opacity:0;
}

app-header{
    grid-area: header;
}
app-side-nav{
    grid-area: side-nav;
    width:15rem;
    transition: all 1s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
}
app-footer{
    grid-area: footer;
}
app-main{
    grid-area: main;
    display: grid;
}

.loader{
    position: absolute;
    top: 50vh;
    left: 50vw;
    background-color: #222244;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 6px;
    border-radius: 50%;
    animation: loader-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes loader-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  

@media only screen and (max-width:768px){
    app-side-nav{
       width:0rem;
       opacity:0;
       height:80vh;
    }

    .container{
        display: grid;
        grid-template-areas: 
                    "header header"
                    "side-nav main"
                    "footer footer";
        grid-template-columns: auto 1fr;
        height: 100vh
    }
}


@media only screen and (max-width: 576px){
 
    app-side-nav{
        position: absolute;
         opacity: 0;
         top: 3rem;
         left: 0;
         z-index: 1;
         height:80vh;
    }
    app-side-nav.show{
        opacity: 0.9;
    }
      
 }